
.navbar {
  margin-left: 48px;
  text-align: left;
  font-size: 1rem;
}
.mdo {
  font-weight: 800 !important;
}

#navbar-example2,
.nav-container {
  background-color: #141414 !important;
}

body,
.jumbotron {
  background-color: #141414;
}
@font-face {

  font-family: netflix-font;
  src: url(https://fontmeme.com/netflix-font/);
}

.little-element {
  color: white;
  background: red;
  position: absolute;
  bottom: 10px;
  right: 16px;
  height: 33px;
  padding: 0.6rem;

  font-family: "Martel Sans", sans-serif !important;
}
.jumbotron h1 {
  font-weight: 500 !important;
  font-size: ;
}
.dropdown {
  margin-left: 500px;

}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
