.navbar {
  margin-left: 48px;
  text-align: left;
  font-size: 1rem;
}
.mdo {
  font-weight: 800 !important;
}
body,
.jumbotron {
  background-color: #141414;
}
@font-face {
  font-family: "Martel Sans", sans-serif !important;
}
.jumbotron h1 {
  font-weight: 800 !important;
}
.navbar {
  flex-direction: row;
}
.dropdown {
  margin-left: 500px;
}
